#overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

#overlay.active {
    display: block;
}


/* Modal */
.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: var(--spacing-sm);
    background-color: var(--rain-dark-blue);
    color: var(--rain-blue);
    border-radius: var(--border-radius-med);
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modalTitle {
    display: flex;
    gap: var(--spacing-md);
    align-items: center;
    font-weight: 600;
}

.newType {
    cursor: pointer;
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-small);
    width: 80px;
    text-align: center;
    outline: 2px solid var(--rain-blue);
}

.newType.active {
    background-color: var(--vapor-red);
    outline: 2px solid var(--vapor-red);
    color: whitesmoke;
}

.modalPrioritySelector {
    display: flex;
    align-items: center;
    padding-top: var(--spacing-sm);
    gap: var(--spacing-md);
    font-weight: 600;
}

.modalPriority {
    cursor: pointer;
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-small);
    width: 80px;
    text-align: center;
    outline: 2px solid var(--rain-blue);
}

.modalPriority.high{

    background-color: var(--Priority-high-bg);
    outline: var(--Priority-high);
    color: whitesmoke;
}
.modalPriority.medium{
    background-color: var(--Priority-med-bg);
    outline: 2px solid var(--Priority-med);
    
}


.modalPriority.low{
    background-color: var(--Priority-low-bg);
    outline: 2px solid var(--Priority-low);
}

.modalDetails{
    font-weight: 600;
    cursor: default;
}
.modalDueDate{
    cursor: default;
    display: flex;
    gap: var(--spacing-md);
    font-weight: 600;
}

#modalSubmit{
     cursor: pointer;
    text-align: center;
    align-self: center;
    padding: var(--spacing-md) var(--spacing-xl);
    border: none;
    border-radius: var(--spacing-sm);
    font-size: 22px;
    font-weight: 600;
    color: whitesmoke;
    background-color: var(--vapor-red);
}

textarea {
    resize: none;
}