@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --light-pink: #ffccff;
    --light-blue: #ccffff;

    --bright-pink: #ff6ad5;
    --bright-purple: #c774e8;
    --bright-blue: #94d0ff;

    --dark-purple: #7a3a9a;

    --warm-green: #20de8b;
    --warm-yellow: #fede8b;
    --warm-blue: #9bd4ff;

    --vapor-purple: #110458;
    --vapor-light-purple: #7904eb;
    --vapor-pink: #fe76ff;
    --vapor-hot-pink: #ff00a1;
    --vapor-red: #ff114f;

    --vapor-blue: #019fde;
    --vapor-yellow: #ffe685;

    --bg-blue-1: #00e8fc;
    --bg-blue-2: #02a7e3;
    --bg-blue-3: #027fd2;


    --rain-light-blue: #0bbdc7;
    --rain-blue: #123e7b;
    --rain-dark-blue: #091933;
    --rain-pink: #ea00d9;
    --rain-purple: #711c91;
    --dev-outline: 2px solid #20de8b;

    --border-radius-small: 4px;
    --border-radius: 8px;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 30px;
    --spacing-btnSpace: 60px;
    --shadow-small: #ea00d9 1px 1px 8px;
    --shadow: #ea00d9 0px 16px 100px;


}

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* utils */

html {
    font-family: 'Poppins', sans-serif;
}

html,body{
    min-height: 100%;
}

.btn {
    outline: var(--dev-outline);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius);
    transition: filter 0.15s ease-in-out;
    cursor: pointer;
  }

  .btn:hover{
    scale: 110%;
  }

/* /// */

body {
    background: linear-gradient(-45deg, var(--rain-dark-blue), var(--rain-blue));
    background-size: 300% 300%;
    animation: gradient 10s ease infinite;
}

.container{
    position: relative;
    width: 1400px;
    height: 700px;
    margin: 0 auto;
    margin-top: 100px;
    min-width: 700px;
    min-height: 550px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}


/* Left Pane Items */
.leftPane{
    display: flex;
    flex-direction: column;
    min-width: 270px;
    background-color: var(--rain-dark-blue);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.logoBox{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:default;
}

.logoText{
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-xs);
    flex-basis: 100%;
    padding-left: 40px;
}

.logoLetter{
    font-size: 24px;
    font-weight: 600;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--rain-pink);
    color: var(--rain-blue);
    border-radius: var(--border-radius-small);
    box-shadow: var(--shadow-small);
}

.logoIcon{
    padding-top: var(--spacing-sm);
    padding-right: var(--spacing-xl);
    
}

.logoPad{
    color: var(--rain-pink);
    font-size: 70px;
}


/* todos */
.todoPane{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-btnSpace);
    padding-top: var(--spacing-btnSpace);
}

.addTaskBtn{
    position: absolute;
    font-size: 60px;
    z-index: 50;
    color: var(--rain-light-blue);
    left: 180px;
    bottom: 40px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.addTaskBtn:hover{
    position: absolute;
    transform: rotate(180deg) scale(1.2);
}


/* Todo buttons */
.todoBtn{
    display: flex;
    justify-content: center;
    gap: var(--spacing-xs);
    width: 192px;
    padding: var(--spacing-sm) var(--spacing-md);
    transition: filter 0.15s ease-in-out;
    cursor: pointer;
    border-radius: var(--border-radius);
    background-color: var(--rain-blue);
}


  .todoBtn:hover{
    scale: 110%;
  }

.todoLetter{
    font-size: 24px;
    font-weight: 600;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--rain-light-blue);
    color: var(--rain-blue);
    border-radius: var(--border-radius-small);
    /* box-shadow: var(--shadow-small); */
}




/* Right Pane */

.taskViewer{
    display: grid;
    grid-column: 2/6;
    padding: var(--spacing-xl);
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

}


@media (max-width: 1400px) {
    .container{
        margin: 0;
        width: 100%;
        height: 100vh;
    }
}

@media (max-width: 1100px) {
    .leftPane{
        display: none;
    }
    .taskViewer{
        grid-column-start: 1;

    }
}









/* gradient */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}