@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --vapor-purple: #110458;
    --vapor-light-purple: #7904eb;
    --vapor-pink: #fe76ff;
    --vapor-hot-pink: #ff00a1;
    --vapor-red: #ff114f;


    --rain-blue: #027fd2;
    --rain-dark-blue: #091933;
 

    --black-smoke: rgb(54, 54, 54);
    --smokey: rgb(199, 199, 199);
    --dev-outline: 2px solid #20de8b;

    --Priority-high: 8px solid #ff114f;
    --Priority-low: 8px solid #20de8b;

    --border-radius-small: 4px;
    --border-radius-med: 10px;
    --border-radius: 30px;
    --project-border: 2px solid #027fd2 ;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 30px;
    --spacing-btnSpace: 60px;
    --shadow-small: #02070f  2px 2px 12px;
    --shadow-med: #02070f  3px 6px 12px;
    --shadow: #091933 0px 16px 100px;


}

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* utils */

html {
    font-family: 'Poppins', sans-serif;
}

html,body{
    min-height: 100%;
}

.btn {
    outline: var(--dev-outline);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius);
    transition: filter 0.15s ease-in-out;
    cursor: pointer;
  }

  .btn:hover{
    scale: 110%;
}

/* ::-webkit-scrollbar {
    display: none;
} */

/* /// */

body {
    background-color: rgb(54, 54, 54);
}

.container{
    position: relative;
    width: 1400px;
    height: 700px;
    margin: 0 auto;
    margin-top: 100px;
    min-width: 700px;
    min-height: 550px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}


/* Left Pane Items */
.leftPane{
    display: flex;
    flex-direction: column;
    min-width: 270px;
    background-color: var(--rain-dark-blue);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}



/* Logo  */
.logoBox{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:default;
}

.logoText{
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-xs);
    flex-basis: 100%;
    padding-left: 40px;
}

.logoLetter{
    font-size: 24px;
    font-weight: 600;
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--rain-blue);
    color: var(--rain-dark-blue);
    border-radius: var(--border-radius-small);
}

.logoIcon{
    padding-top: var(--spacing-sm);
    padding-right: var(--spacing-xl);
    
}

.logoPad{
    color: var(--rain-blue);
    font-size: 70px;
}




/* todos */
.todoPane{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-btnSpace);
    padding-top: var(--spacing-btnSpace);
}

.addTaskBtn{
    position: absolute;
    font-size: 60px;
    z-index: 50;
    color: var(--vapor-red);
    left: 180px;
    bottom: 40px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.addTaskBtn:hover{
    position: absolute;
    transform: rotate(180deg) scale(1.2);
}


/* Todo buttons */
.todoBtn{
    display: flex;
    justify-content: center;
    width: 168px;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 20px;
    padding: var(--spacing-sm) var(--spacing-md);
    transition: filter 0.15s ease-in-out;
    cursor: pointer;
    border-radius: var(--border-radius-med);
    background-color: var(--rain-blue);
    color: var(--rain-dark-blue);
}


.todoBtn:hover, .todoBtn.active{
    scale: 115%;
    box-shadow: var(--shadow-med);
}



/* Right Pane */
.taskViewer{
    grid-column: 2/6;
    padding: var(--spacing-xl);
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    background-color: var(--rain-dark-blue);
    gap: var(--spacing-md);
}


/* /////////////////// Task Card /////////////////// */

/* Task Viewer Tasks */
.taskViewer.taskActive{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    min-height: 100px;
}

.taskCard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--black-smoke);
    border-left: var(--Priority-high);
    padding: 0 var(--spacing-lg);
    border-radius: var(--border-radius-med);
    height: 60px;
    background-color: var(--smokey);
    font-size: 18px;
   
}

.taskContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-lg);
    /* outline: var(--dev-outline); */
}

.taskTitle{
    font-weight: 600;
    border: none;
}

.taskDetails{
    border: none;
    background-color: var(--rain-dark-blue);
    color: var(--smokey) ;
    height: 40px;
    cursor: pointer;
}

.taskEdit {
    border-radius: var(--border-radius-med);
    border: 2px solid var(--vapor-red);
    color: var(--rain-dark-blue);
    cursor: pointer;
    padding: var(--spacing-sm);
}

.taskEdit:hover{
    scale: 105%;
    box-shadow: var(--shadow-small);
}

.checkbox{
    display: flex;
    align-items: center;
}
#taskCheckbox{
    accent-color: var(--rain-blue);
    width: 25px;
    height: 25px;  
}

.taskCard:hover{
    scale: 102%;
}


/*/////////////// project Card ///////////////*/

/* Task Viewer Projects */
.taskViewer.projectActive{
    display: flex;
    overflow-x: scroll;
    
   
    
}

.projectCard{
    display: flex;
    flex-direction: column;
    min-width: 240px;
    border: var(--project-border) ;
    background-color: var(--rain-dark-blue);
    border-radius: var(--border-radius);
}


.projectTitle{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:default;
    background-color: var(--rain-blue);
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 20px;
}

.projectTaskPane{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    gap: var(--spacing-lg);
    padding: var(--spacing-sm);
}

.projectTasks{
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    padding-left: var(--spacing-md);
    border-radius: var(--border-radius-small);
    background-color: var(--smokey);
    min-height: 40px;
    border-left: var(--Priority-high)
}




/* Media Queries */

@media (max-width: 1400px) {
    .container{
        margin: 0;
        width: 100%;
        height: 100vh;
    }
}

@media (max-width: 1100px) {
    .leftPane{
        display: none;
    }
    .taskViewer{
        grid-column-start: 1;

    }
}









/* gradient */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}